@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body {
  background-color: #DFDFDF;
}



.App {
  display: flex;
  justify-content: center;
}

.form, .preview {
  width: 650px;
margin: 70px;
  background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
flex-shrink: 0;
padding: 50px;
}

h2 {
  font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
margin-bottom: 10px;
color: #257FA4;

}

label {
  font-size: 12px;
line-height: 14px;
letter-spacing: 0.095em;

color: #191919;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}



input:focus, textarea:focus {
  outline: 0;
  border: 2px solid #257FA4;
}

input:hover, textarea:hover {
  border: 2px solid #257FA4;
}


.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 10px;
}

.inputContainer input {
height: 24px;
padding: 0 10px;
font-size: 12px;
}

.inputContainer input::placeholder {
  color: #777676;
}

.input-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 21px;
  height: 50px;
}

textarea {
  height: 85px;
  border: 1px solid #777676;
border-radius: 2px;
resize: none;
padding: 2px 10px;
font-size: 12px;
}

.name {
  font-weight: 600;
font-size: 20px;
color: #257FA4;
text-transform: uppercase;
}

.about textarea {
  height: 50px !important;
  
}

.preview p {
  font-weight: 400;
font-size: 12px;
line-height: 20px;
}

.preview h2 {
  margin-top: 20px;
}

.position, .degree {
  font-weight: 500 !important;
font-size: 15px !important;
}

.year {
  display: flex;
  justify-content: space-between;
}

.year p + p {
  font-style: italic;
}

input:not(:focus):not(:placeholder-shown):invalid {
  border: 1px solid rgba(211, 59, 82, 0.9);
}


input:not(:focus):not(:placeholder-shown):valid {
  border: 1px solid rgba(31, 44, 50, 0.3);
}

input:not(:focus):not(:placeholder-shown):invalid ~ .error-message{
  display: block; 
}
